<h2>Reiseinformasjon fra Ruter</h2>
<table>
<caption>Sist oppdatert: {{ruter.info.lastFetched}}</caption>
<tr>
    <th>Linje</th>
    <th>Avgang</th>
  </tr>
  {{#each ruter.avganger}}
<tr>
    <td>{{line}} - {{name}}</td>
    <td>
    	{{next}}
    </td>
  </tr>

  {{/each}}
</table>
