<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>PI mirror</title>
</head>
<body style="background-color: black; color: white;">

    {{{body}}}

</body>
<script type="text/javascript">
	setInterval(function(){
		window.location.href= window.location.href
	}, 10000);
</script>
</html>