<div class="top left">
	<div class="small dimmed">
		{{now.date}}
	</div>
	<div class="time"></div>
</div>
<div class="top right">
	<div class="yr">
	</div>
</div>

<div class="bottom left">
	<div class="ruter"></div>
<div>
