<div class="medium dimmed">
		Mirror, mirror on the wall
</div>	

<form action="/controls/url" method="POST">
	<label> Url
	<input name="url" type="url"/>
	</label>

	<input type="submit" value="Show me" style="color:white">

</form>

<form action="/controls/home" method="GET">
	<label>Go home</label>
	<input type="submit" value="Go home" style="color:white">
</form>

<form action="/controls/scroll/up" method="GET">
	<label>Scroll up</label>
	<input type="submit" value="Scroll up" style="color:white">
</form>

<form action="/controls/scroll/down" method="GET">
	<label>Scroll up</label>
	<input type="submit" value="Scroll down" style="color:white">
</form>